#!/bin/sh

oem_ifpfx="@OEM_IFPFX@"

# MR16G
mr16g_modname="@MR16G_MODNAME@"
mr16g_drvname="@MR16G_DRVNAME@"

# MR17G
mr17g_modname="@MR17G_MODNAME@"
mr17g_drvname="@MR17G_DRVNAME@"

# MR17S
mr17s_modname="@MR17S_MODNAME@"
mr17s_drvname="@MR17S_DRVNAME@"
mr17s_ttyname="@MR17S_TTYNAME@"
mr17s_cfg="/sbin/@MR17S_TOOL@"

# MR17H
mr17h_cfg="/sbin/@MR17H_TOOL@"
mr17h_modname="@MR17H_MODNAME@"
mr17h_v1sfx="@MR17H_V1SFX@"
mr17h_v2sfx="@MR17H_V2SFX@"
mr17h_pwrsfx="@MR17H_PWRSFX@"
mr17h_drvname="@MR17H_DRVNAME@"

# MR16H
mr16h_cfg="/sbin/@MR16H_TOOL@"
mr16h_modname="@MR16H_MODNAME@"
mr16h_drvname="@MR16H_DRVNAME@"
