#!/bin/sh

OEM_IFPFX="@OEM_IFPFX@"

MR17H_MODNAME="@MR17H_MODNAME@"
MR17H_DRVNAME="@MR17H_DRVNAME@"
MR17H_V1SFX="@MR17H_V1SFX@"
MR17H_V2SFX="@MR17H_V2SFX@"
MR17H_PWRSFX="@MR17H_PWRSFX@"

MR16H_MODNAME="@MR16H_MODNAME@"
MR16H_DRVNAME="@MR16H_DRVNAME@"

MR16G_DRVNAME="@MR16G_DRVNAME@"
MR16G_MODNAME="@MR16G_MODNAME@"

MR17G_DRVNAME="@MR17G_DRVNAME@"
MR17G_MODNAME="@MR17G_MODNAME@"

MR17S_DRVNAME="@MR17S_DRVNAME@"
MR17S_MODNAME="@MR17S_MODNAME@"

sg16_cfg_path="/sys/bus/pci/drivers/@MR16H_DRVNAME@"
sg17_cfg_path="/sys/class/net"

